
<ul class='games-index'>
  <% if @games %>
    <% @games.each do |game| %>
      <li class='game-list'>
        <%= game.name %>
        <img class='game-image' src=<%= game.photo_url %>>
      </li>
    <% end %>
  <% end %>  
</ul>